<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Personal Blog</h1>

    <% if (articleMap && Object.keys(articleMap).length > 0) { %>

        <div class="articles_list">
            <% Object.keys(articleMap).forEach(fileName => { %>
                <div class="article_item">
                    <a href="public/uploads/articles/<%= fileName %>" ><%= fileName %></a>
                </div>
            <% }) %>
        </div>
    <% } else { %>
        <p>No articles found</p>
    <%}%>
</body>
</html>